<div *ngIf="personajesCargados" div class="container py-4 text-center">
        <h2 class="mb-2">
          Personajes de la Serie: {{ _activeRoute.snapshot.params['nombre'] }} &nbsp;
          <a [routerLink]="['/serie', _activeRoute.snapshot.params['idSerie']]" class="btn btn-success">
            Volver
          </a>
        </h2>
          <table class="table table-secondary table-bordered">
            <thead>
              <tr>
                <th class="align-middle text-center">Nombre</th>
                <th class="align-middle text-center">Foto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let personaje of personajes">
                <td class="align-middle text-center">{{ personaje.nombre }}</td>
                <td class="align-middle text-center">
                  <img [src]="personaje.imagen" [alt]="personaje.nombre" style="max-width: 100px" />
                </td>
              </tr>
            </tbody>
          </table>

  </div>
  <div *ngIf="!personajesCargados" class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-lg-29">
        <h2 class="mb-3">Cargando...</h2>
      </div>
    </div>
  </div>
  